.text {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: black;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
#picture {
    float: left;
}
#words {
    float: left;
    padding: 10px;
}